<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.dhktpm15a_nhom20_toan_tai_trong">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DHKTPM15A_Nhom20_Toan_Tai_Trong">
        <activity android:name=".app.TrangChu" />
        <activity
            android:name=".app.ChiTietNote"
            android:exported="false" />
        <activity
            android:name=".app.Dangnhap"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".app.Dangky" />
        <activity android:name=".app.MainActivity" />
        <activity android:name=".app.ChiTietTaiKhoan" />
        <activity android:name=".dialog.DialogAddNote"/>
    </application>

</manifest>